{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Flow{% endblock %}</title>
    <link href="{% static 'bootstrap.min.css' %}" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="{% url 'polls:index' %}">Flow</a>
            <div class="col-8" style="position: relative;">
                <input id="search-input" class="form-control" name="search" type="text"
                    hx-post="{% url 'polls:search' %}" hx-headers='{"X-CSRFToken" : "{{ csrf_token }}"}'
                    placeholder="Search..." hx-trigger="keyup changed delay:250ms" hx-target="#search-results"
                    hx-swap="innerHTML">
                <div id="search-results" style="position: absolute; top: 100%; left: 0; width: 100%; z-index: 100;" class="border rounded shadow-lg">
                </div>
            </div>


            {% if user.is_authenticated %}
            <a class="btn btn-secondary" href="{% url 'polls:profile' %}" role="button">profile</a>
            {% else %}
            <a class="btn btn-primary" href="{% url 'login' %}" role="button">login</a>
            {% endif %}
        </div>
    </nav>

    <div class="container">
        <div>
            {% block header %}
            {% endblock %}
        </div>
        {% block content %}
        {% endblock %}
    </div>

    <script src="{% static 'htmx.min.js' %}"></script>
    <script src="{% static 'jquery-3.6.1.min.js' %}"></script>
</body>

</html>