{% load django_tables2 %}
{% load i18n l10n %}
{% block table-wrapper %}

<div class="table-container" id="tableContainer">
    {% block table %}
        <table {% render_attrs table.attrs class="table" %}>
            {% block table.thead %}
                {% if table.show_header and not table.page.has_previous %}
                    <thead {{ table.attrs.thead.as_html }}>
                        <tr>
                            {% for column in table.columns %}
                            {% if column.orderable %}
                                <th {{ column.attrs.th.as_html }}
                                    hx-get="{% querystring table.prefixed_order_by_field=column.order_by_alias.next %}"
                                    hx-trigger="click"
                                    hx-target="#tableContainer"
                                    hx-swap="outerHTML"
                                    hx-indicator=".progress"
                                    style="cursor: pointer;"
                                    href="#">
                                    {{ column.header }}
                                </th>
                                {% else %}
                                {{ column.header }}
                                {% endif %}
                            {% endfor %}
                            
                        </tr>
                    </thead>
                {% endif %}
            {% endblock table.thead %}
            {% block table.tbody %}
                <tbody {{ table.attrs.tbody.as_html }}>
                {% for row in table.paginated_rows %}
                    {% block table.tbody.row %}
                    <tr {{ row.attrs.as_html }}>
                        {% for column, cell in row.items %}
                            <td {{ column.attrs.td.as_html }}>{% if column.localize == None %}{{ cell }}{% else %}{% if column.localize %}{{ cell|localize }}{% else %}{{ cell|unlocalize }}{% endif %}{% endif %}</td>
                        {% endfor %}
                    </tr>
                    {% endblock table.tbody.row %}
                {% empty %}
                    {% if table.empty_text %}
                    {% block table.tbody.empty_text %}
                        <tr><td colspan="{{ table.columns|length }}">{{ table.empty_text }}</td></tr>
                    {% endblock table.tbody.empty_text %}
                    {% endif %}
                {% endfor %}
                <div hx-get="{% querystring table.prefixed_page_field=table.page.next_page_number %}"
                    hx-trigger="revealed"
                    hx-indicator=".progress"
                    hx-swap="outerHTML"
                    class="page-link">
                </div>

                </tbody>
            {% endblock table.tbody %}
            {% block table.tfoot %}
            {% if table.has_footer %}
            <tfoot {{ table.attrs.tfoot.as_html }}>
                <tr>
                {% for column in table.columns %}
                    <td {{ column.attrs.tf.as_html }}>{{ column.footer }}</td>
                {% endfor %}
                </tr>
            </tfoot>
            {% endif %}
            {% endblock table.tfoot %}
        </table>
        {% if table.page and table.paginator.num_pages > 1 %}
            {% if table.page.has_next %}

            {% endif %}
        {% endif %}
    {% endblock table %}

    {% block pagination %}
    {% endblock pagination %}
</div>
{% endblock table-wrapper %}
