{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flow</title>
    <link href="{% static 'bootstrap.min.css' %}" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN">
</head>

<body>
    <h1>Flow</h1>
    <p><a href="{% url 'admin:index' %}">Admin</a></p>
    <p><a href="{% url 'polls:schools' %}">All Schools</a></p>

    {% block content %}
    {% endblock %}

    <script src="{% static 'htmx.min.js' %}"></script>
    <script src="{% static 'jquery-3.6.1.min.js' %}" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="></script>
</body>

</html>