{% extends 'partials/base.html' %}

{% block content %}
<h1>{{ department.name }}</h1>
<div class="max-w-screen-md" id="table">
    <!-- {% include 'partials/table.html' with table=table %} -->
</div>
<div id="filtering" class="max-w-screen-md">
    <!-- {% include 'partials/filter.html' %} -->
    <div>
        <div class="flex place-content-between">
            <label for="courseCount" class="block font-bold">Minimum Courses</label>
            <label id="courseCountLabel" for="courseCount" class="font-bold">0</label>
        </div>
        <input name="minCredits" type="range" class="w-full cursor-ew-resize my-1 accent-blue" id="courseCount" value="0" min="0" max="2" step="0.25"
        hx-post="#" hx-headers='{"X-CSRFToken" : "{{ csrf_token }}"}' hx-target="#table">
        <p class="text-sm">The time spent each week on the course</p>
    </div>
</div>

{% endblock %}