{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Flow{% endblock %}</title>
    <link href="{% static 'output.css' %}" rel="stylesheet">
    <link href="{% static 'fonts/kadwa/stylesheet.css' %}" type="text/css" charset="utf-8" rel="stylesheet">
</head>

<body class="font-kadwa-bold">
    <nav class="p-4 bg-blue">
        <div class="container mx-auto grid grid-cols-1 gap-4  md:grid-cols-4 md:gap-8">
            <!-- Logo -->
            <a class="text-4xl text-white col-span-1 text-center" href="{% url 'polls:index' %}">FLOW</a>

            <!-- Search Bar -->
            <div class="flex border-4 border-black bg-white pt-1 flex-1 col-span-2 relative">
                <input id="search-input" class="w-full focus:outline-none" name="name" type="text"
                    hx-post="{% url 'polls:search' %}" hx-headers='{"X-CSRFToken" : "{{ csrf_token }}"}'
                    hx-trigger="keyup changed delay:250ms" hx-target="#search-results" hx-swap="innerHTML"
                    autocomplete="off">
                <div id="search-results" class="absolute top-full w-full bg-white shadow-xl">
                    <!-- Add search results content here -->
                </div>
            </div>

            <!-- User Actions -->
            <div class="col-span-1 flex justify-center space-x-4">
                {% if user.is_authenticated %}
                <a class="bg-blue text-white py-2 px-4" href="{% url 'polls:profile' %}"
                    role="button">PROFILE</a>
                {% else %}
                <a class="text-2xl font-semibold text-white py-2 px-4" href="{% url 'login' %}" role="button">LOGIN</a>
                <a class="text-2xl font-semibold bg-white text-black py-2 px-4 hover:bg-gray-300"
                    href="{% url 'polls:register' %}" role="button">SIGN UP</a>
                {% endif %}
            </div>
        </div>
    </nav>


    <div class="mt-16 flex flex-wrap justify-center gap-10">
        {% block content %}
        {% endblock %}
    </div>

    <script src="{% static 'htmx.min.js' %}"></script>
    <script src="{% static 'jquery-3.6.1.min.js' %}"></script>
</body>

</html>