<div class="boxed">
    <form class="flex gap-8 flex-col">
        <div>
            <div class="flex place-content-between">
                <label for="courseCount" class="block font-bold">Minimum Courses</label>
                <label id="courseCountLabel" for="courseCount" class="font-bold">0</label>
            </div>
            <input type="range" class="w-full cursor-ew-resize my-1 accent-blue" id="courseCount" value="0" min="0" max="1000" step="10"
            hx-post="#" hx-headers='{"X-CSRFToken" : "{{ csrf_token }}"}'>
            <p class="text-sm">The time spent each week on the course</p>
        </div>
        <div>
            <div class="flex place-content-between">
                <label for="reviewUseful" class="block font-bold">Applicability</label>
                <label id="reviewUsefulLabel" for="reviewUseful" class="block font-bold">Foundational</label>
            </div>
            <input type="range" class="w-full cursor-ew-resize my-1 accent-blue" id="reviewUseful" min="0" max="4" step="1">
            <p class="text-sm">How useful the course is, both in school or industry</p>
        </div>
        <div>
            <label for="reviewComment" class="block font-bold mb-2">Additional Comments</label>
            <textarea class="w-full text-sm my-1 bg-gray-100 text-black accent-blue border-4 p-2 border-black" id="reviewComment" rows="3" placeholder="If I were to do it again..."></textarea>
        </div>
        <div>
            <div class="flex place-content-between">
                <label for="reviewRating" class="block font-bold">Overall</label>
                <label id="ratingLabel" for="reviewRating" class="block font-bold">Average</label>
            </div>
            <input type="range" class="w-full cursor-ew-resize my-1 accent-blue" id="reviewRating" min="0" max="4" step="1">
            <p class="text-sm">How would you rate this course overall?</p>
        </div>
        <div>
            <div class="flex place-content-between">
                <label for="reviewAnonymous" class="font-bold w-full cursor-pointer">Anonymous</label>
                <input type="checkbox" class="form-check-input w-5 cursor-pointer rounded-none accent-blue" id="reviewAnonymous">
            </div>
        </div>
        <div class="flex items-center justify-center">
            <div class="text-center">
                <button type="submit" class="text-center bg-blue font-bold text-white pb-2 pt-3 px-12">SUBMIT</button>
            </div>
        </div>
    </form>
</div>
<script>
    const reviewRating = document.getElementById("reviewRating");
    const reviewLabel = document.getElementById("ratingLabel");
    const reviewLabels = ["Poor", "Subpar", "Average", "Good", "Excellent"];

    reviewRating.textContent = reviewLabels[parseInt(reviewRating.value)];
    reviewRating.addEventListener("input", function (value) {
        reviewLabel.textContent = reviewLabels[parseInt(value.target.value)];
    });


    document.getElementById("courseCount").addEventListener("input", function (value) {
        document.getElementById("courseCountLabel").textContent = value.target.value;
    });

    const reviewUseful = document.getElementById("reviewUseful");
    const reviewUsefulLabel = document.getElementById("reviewUsefulLabel");
    const reviewUsefulLabels = ["Esoteric", "Rarely", "Average", "Useful", "Foundational"];

    reviewUsefulLabel.textContent = reviewUsefulLabels[parseInt(reviewUseful.value)];
    reviewUseful.addEventListener("input", function (value) {
        reviewUsefulLabel.textContent = reviewUsefulLabels[parseInt(value.target.value)];
    });
</script>