{% load widget_tweaks %}
<div class="border-4 border-black p-4 shadow-signature bg-white">
    <form method="post" class="flex flex-col gap-4 p-2">
        <h2 class="font-bold text-black text-center block w-full">LOGIN</h2>
        {% csrf_token %}
        <div>
            <label for="{{ form.username.id_for_label }}">Username</label>
            <br>
            <!-- check out django-widget-tweaks for more stuff -->
            <!-- this is needed because the login form is handled by the auth package -->
            {{ form.username|add_class:"border-4 border-black focus:outline-none pt-1 px-2" }}
        </div>
        <div>
            <label for="{{ form.password.id_for_label }}" class="">Password</label>
            <br>
            {{ form.password|add_class:"border-4 border-black focus:outline-none pt-1 px-2" }}
        </div>
        <div class="text-center">
            <button type="submit" class="text-center bg-blue font-bold text-white pb-2 pt-3 px-12">LOGIN</button>
        </div>
    </form>
</div>