<div class="container border-4 border-black shadow-signature">
    <form class="bg-white p-8 pt-6 pb-8 flex gap-8 flex-col">
        <div>
            <div class="flex place-content-between">
                <label for="reviewEffort" class="block font-bold">Hours a week</label>
                <label id="reviewEffortLabel" for="reviewEffort" class="font-bold">Effort Required</label>
            </div>
            <input type="range" class="w-full mt-2" id="reviewEffort" min="0" max="9" step="1">
            <p class="text-sm">The time spent each week on the course</p>
        </div>
        <div>
            <div class="flex place-content-between">
                <label for="reviewUseful" class="block font-bold">Applicability</label>
                <label id="reviewUsefulLabel" for="reviewUseful" class="block font-bold">Foundational</label>
            </div>
            <input type="range" class="w-full mt-2" id="reviewUseful" min="0" max="4" step="1">
            <p class="text-sm">How useful the course is, both in school or industry</p>
        </div>
        <div>
            <label for="reviewComment" class="block font-bold mb-2">Additional Comments</label>
            <textarea class="w-full mt-2 border-4 p-4 border-black" id="reviewComment" rows="3" placeholder="If I were to do it again..."></textarea>
        </div>
        <div>
            <div class="flex place-content-between">
                <label for="reviewRating" class="block font-bold">Overall</label>
                <label id="ratingLabel" for="reviewRating" class="block font-bold">Average</label>
            </div>
            <input type="range" class="w-full mt-2" id="reviewRating" min="0" max="4" step="1">
            <p class="text-sm">How would you rate this course overall?</p>
        </div>
        <div>
            <div class="flex items-center">
                <input type="checkbox" class="form-check-input" id="reviewAnonymous">
                <label for="reviewAnonymous" class="ml-2">Anonymous</label>
            </div>
        </div>
        <div class="flex items-center justify-center">
            <div class="text-center">
                <button type="submit" class="text-center bg-blue font-bold text-white pb-2 pt-3 px-12">SUBMIT</button>
            </div>
        </div>
    </form>
</div>
<script>
    const reviewRating = document.getElementById("reviewRating");
    const reviewLabel = document.getElementById("ratingLabel");
    const reviewLabels = ["Poor", "Subpar", "Average", "Good", "Excellent"];

    reviewRating.textContent = reviewLabels[parseInt(reviewRating.value)];
    reviewRating.addEventListener("input", function (value) {
        reviewLabel.textContent = reviewLabels[parseInt(value.target.value)];
    });


    const reviewEffort = document.getElementById("reviewEffort");
    const reviewEffortLabel = document.getElementById("reviewEffortLabel");
    const reviewEffortLabels = ["<0 hours", "1 hours", "2 hours", "3 hours", "4 hours", "5 hours", "6 hours", "7 hours", "8 hours", "9+ hours"];

    reviewEffortLabel.textContent = reviewEffortLabels[parseInt(reviewEffort.value)];
    reviewEffort.addEventListener("input", function (value) {
        reviewEffortLabel.textContent = reviewEffortLabels[parseInt(value.target.value)];
    });

    const reviewUseful = document.getElementById("reviewUseful");
    const reviewUsefulLabel = document.getElementById("reviewUsefulLabel");
    const reviewUsefulLabels = ["Esoteric", "Rarely", "Average", "Useful", "Foundational"];

    reviewUsefulLabel.textContent = reviewUsefulLabels[parseInt(reviewUseful.value)];
    reviewUseful.addEventListener("input", function (value) {
        reviewUsefulLabel.textContent = reviewUsefulLabels[parseInt(value.target.value)];
    });
</script>